@page
@model LoginModel

@{
    ViewData["Title"] = "Synergy";
}


<h1>@ViewData["Title"]</h1>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/Login.css" />
<script src="~/js/Login.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div id="login-box">
        <div class="logo">
            <img src="~/images/SynergyLogo.png" class="img img-responsive img-circle " />
            <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
        </div><!-- /.logo -->
    
        <div class="controls">
            <form id="account" method="post">
                <h4 class="info">Log in or hit Register as a new user</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" id="words">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group" id=" words">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group" words>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
            </section>
        </div>
    </div><!-- /.controls -->
</div><!-- /#login-box -->
        </div><!-- /.container -->
<div id="particles-js"></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
